HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# Ignorer les dossiers temporaires générés avec des noms UUID
**/*.lck
**/0a4*/ 
**/2a0*/ 
**/2f0*/ 
**/03b*/ 
**/3c5*/ 
**/3f4*/ 
**/5ee*/ 
**/7a7*/ 
**/7ba*/ 
**/7bc*/ 
**/8c5*/ 
**/30e*/ 
**/40c*/
